For Loop Programs

In [ ]:
#To Print numbers from 1 to 10
for i in range(1,11):
  print(i , end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
#take a list
list1 = [1,2,3,4]

#take a variable to store the addition
sum_of_n = 0

for i in list1 :
  sum_of_n += i

#print the sum
print("the sum : ",sum_of_n)

the sum :  10

In [ ]:
#take a string
string1 = "pwskills"

#take a empty string
reverse = " "

for i in range(len(string1),0,-1):
  reverse += string1[i-1]

#print the reversed string
print("the reversed string : ",reverse)

the reversed string :   sllikswp

In [ ]:
#create a function to find the factorial of a number using for loop
def fact(n):

  fact_result = 1

  for i in range (1,n+1):
    fact_result *= i

  return fact_result

num = int(input("enter the number : "))

if num < 0:
  print(" the factorial cannot be defined")

else:
  result = fact(num)
  print(f"the facorial of {num} is : ",result)

enter the number : 5
the facorial of 5 is :  120

In [ ]:
num = int(input("enter the number : "))

if num < 0:
  print("the multiplication table cannot be defined")

else:
  for i in range(1,11):
    result = num * i
    print(result)

enter the number : 19
19
38
57
76
95
114
133
152
171
190

In [ ]:
#take a list
list1 = [1,2,3,4,5,6,7,8,9,10]

odd_count = 0
even_count = 0

for n in list1:

  if n % 2 == 0:
    even_count += 1

  else :
    odd_count += 1

#print the even numbers
print(" the number of even numbers in the list : ",even_count)

#print the odd numbers
print(" the number of odd numbers in the list : ",odd_count)

 the number of even numbers in the list :  5
 the number of odd numbers in the list :  5

In [ ]:
#take a variable
num = 0

for i in range(1,6):
  num = i * i
  #print the squares
  print(num)

1
4
9
16
25

In [ ]:
#take a string
string1 = "pwskills"

count = 0

for _ in range(len(string1)):
  count += 1

#print the length of string
print("the length of the string : ",count)

the length of the string :  8

In [ ]:
#take a list
list1 = [12,34,56,78,90]

sum_of_n = 0
count_of_n = 0

for n in list1 :
  sum_of_n += n
  count_of_n +=1

#find the average
average = sum_of_n / count_of_n

#print the average of list
print("the average of list is : ",average)

the average of list is :  54.0

In [ ]:
def fibo(n):
  fibo_n = [0,1]

  for i in range(2,n):
    nx_fibo = fibo_n[-1] + fibo_n[-2]
    fibo_n.append(nx_fibo)

  return fibo_n

num = int(input("enter the number : "))

fibo_seq = fibo(num)

print(f"the fibonacci sequence of first {n} number : ",fibo_seq)

enter the number : 12
the fibonacci sequence of first 90 number :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def copy(list1):

  seen = set()

  for item in list1:
    if item in seen:
      return True

    seen.add(item)

  return False

list2 = [1,2,3,4,3,2,1,5,6,7,8,8,9]

if copy(list2):
  print("there are duplicates in the list")

else:
  print("there are no duplicates in the list")

there are duplicates in the list

In [ ]:
def prime(n):

  if n < 2:
    return False

  for i in range(2,int(n**0.5)+1):
    if n % i == 0:
      return False

  return True

start = int(input("enter the starting range : "))
end = int(input("enter the ending range : "))

print("the prime numbers in the range are : ")

for num in range(start ,end+1):
  if prime(num):
    print(num,end=' ')

enter the starting range : 12
enter the ending range : 45
the prime numbers in the range are :
13 17 19 23 29 31 37 41 43

In [ ]:
def vowel(string1):
  vowels = "aeiouAEIOU"
  count = 0

  for char in string1:
    if char in vowels:
      count +=1
  return count

string2 = str(input("enter a string : "))

v_count = vowel(string2)

print("the number of vowels in the string are : ",v_count)

enter a string : we can do the same
the number of vowels in the string are :  6

In [ ]:
def max(matrix):
  if not matrix or not matrix[0]:
    return None

  max_e = matrix[0][0]

  for row in matrix:
    for element in row:
      if element > max_e:
        max_e = element

  return max_e

list1 = [[1,2,3],[4,5,6],[7,8,9]]

max_ele = max(list1)

print("the maximum element in the 2D list is : ",max_ele)

the maximum element in the 2D list is :  9

In [ ]:
def rev(lst,target):
  for item in lst[:]:
    if item == target:
      lst.remove(item)

list1 = [1,2,3,4,5,6,7,89,77,5,45,4,3,2,1,1]
target = int(input("enter the element you want to remove : "))

rev(list1,target)
print(f"the list after removing the targeted element {target} : ",list1)

enter the element you want to remove : 1
the list after removing the targeted element 1 :  [2, 3, 4, 5, 6, 7, 89, 77, 5, 45, 4, 3, 2]

In [ ]:
print("the tables from 1 to 5 : \n")
for i in range(1,6):

  for j in range(1,11):
    result = i * j
    print(result,end=' ')

  print()

  print()

the tables from 1 to 5 :

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

In [ ]:
def cel(fahrenheit):
  return (fahrenheit - 32)* 5 / 9

temp = [98,104,101,96,100]

print("the temperature after converting to celcius : \n")
for fahrenheit in temp :
  celcius = cel(fahrenheit)
  print(celcius)

the temperature after converting to celcius :

36.666666666666664
40.0
38.333333333333336
35.55555555555556
37.77777777777778

In [ ]:
def common(list1,list2):
  common_elements = []

  for elements in list1:
    if elements in list2 and elements not in common_elements:
      common_elements.append(elements)

  return common_elements

list1 = [1,2,3,5,7,9,0]
list2 = [9,7,5,3,1,3,4]

common_elements = common(list1,list2)

if common_elements:
  print("common elements : ",common_elements)

else:
  print("there are no common elements present in lists")

common elements :  [1, 3, 5, 7, 9]

In [ ]:
def right_tri(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=' ')
        print()

rows = int(input("Enter the number of rows: "))
right_tri(rows)

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
def f_gcd(a,b):

  gcd = 1

  for i in range(1,min(a,b)+1):
    if a % i == 0 and b % i == 0:
      gcd = i

  return gcd

num1 = int(input("enter the first number : "))
num2 = int(input("enter the second number : "))

result = f_gcd(num1,num2)

print(f"the greatest common divisor of {num1} and {num2} is {result}")

enter the first number : 48
enter the second number : 36
the greatest common divisor of 48 and 36 is 12

In [ ]:
def sumed(number):
  return sum(int(digit) for digit in str(number) if digit.isdigit())

n = [143,346,789,176,432]

sum_of_digit = [sumed(num) for num in n]

for i in range(len(n)):
  print(f" sum of digits in {n[i]} : {sum_of_digit[i]}")

 sum of digits in 143 : 8
 sum of digits in 346 : 13
 sum of digits in 789 : 24
 sum of digits in 176 : 14
 sum of digits in 432 : 9

In [ ]:
def prime(num):

  if num < 2 :
    return False

  for i in range(2,int(num ** 0.5) + 1):
    return False

  return True


def prime_fact(n):
  factors = [i for i in range(2,n+1) if prime(i) and n % i == 0]
  return factors

number = int(input("enter a number : "))

factors  = prime_fact(number)

print(f"the prime factor of {number} : {factors}")

enter a number : 12
the prime factor of 12 : [2, 3]

In [ ]:
list1 = [1,2,3,4,3,4,5,6,7,9,3,6,1,5,4]

u_list= list(set(list1))

print("the list of unique elements : ",u_list)

the list of unique elements :  [1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
def palindromic(num):
  return str(num) == str(num)[::-1]

limit = int(input("enter the limit : "))

p_num = [num for num in range(11,limit + 1) if palindromic(num)]

print(f"palindromic numbers upto {limit} : {p_num}")

enter the limit : 200
palindromic numbers upto 200 : [11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [ ]:
def flattened_list(nested_list):
  flattened = []

  def flattened_recursive(sublist):
    for item in sublist:

      if isinstance(item,list):
        flattened_recursive(item)

      else:
        flattened.append(item)

  flattened_recursive(nested_list)
  return flattened

nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]

flat_list = flattened_list(nested_list)

print("the flattened list : ",flat_list)

the flattened list :  [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

even_no = [num for num in list1 if num % 2 == 0]
odd_no = [num for num in list1 if num % 2 != 0]

sum_even = sum(even_no)
sum_odd = sum(odd_no)

print("the sum of even numbers : ",sum_even,"\n")
print("the sum of odd numbers : ",sum_odd)

the sum of even numbers :  30

the sum of odd numbers :  25

In [ ]:
sq_odd = [num **2 for num in range(1,11) if num % 2 != 0]

print("the square of odd number from 1 to 10 : ",sq_odd )

the square of odd number from 1 to 10 :  [1, 9, 25, 49, 81]

In [ ]:
keys = ["name","age","city"]
values = ["harsh","20","amravati"]

c_dict = { keys[i] : values[i] for i in range(min(len(keys),len(values)))}\

print("the combined dictionary : ",c_dict)

the combined dictionary :  {'name': 'harsh', 'age': '20', 'city': 'amravati'}

In [ ]:
string1 = "Hello World!!!"

vowels = [ char.lower() for char in string1 if char.lower() in "aeiouAEIOU"]

print("the vowels present in the string : ",vowels)

the vowels present in the string :  ['e', 'o', 'o']

In [ ]:
str_list = ["123" , "vaibhav23","harsh65","op9","onepiece1088"]

num_string = [' '.join(char for char in string if char.isdigit()) for string in str_list]

print("numeric string : ",num_string)

numeric string :  ['1 2 3', '2 3', '6 5', '9', '1 0 8 8']

In [ ]:
def sieve(n):
  is_prime = [True] * (n + 1)

  is_prime[0] = is_prime[1] = False

  for p in range( 2, int(n ** 0.5) + 1):

    if is_prime[p]:

      is_prime[ p ** 2 : n + 1 : p] = [False] * len(range( p ** 2 , n + 1 , p))

  primes = [ num for num  in range(2, n + 1) if is_prime[num]]

  return primes

limit = int(input(" enter the limit : "))

prime_nos = sieve(limit)

print(f"the primes numbers upto {limit} : {prime_nos}")

 enter the limit : 30
the primes numbers upto 30 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
def pyt_tri(limit):

  triplets = [(a,b,c) for a in range(1 , limit ) for b in range( a , limit) for c in range( b , limit) if a**2 + b**2 == c**2]

  u_triplets = set(tuple(sorted(triplet)) for triplet in triplets)

  u_list = list(u_triplets)

  return u_list

limit = int(input("enter the limit for pythagorean triplets : "))

triplets = pyt_tri(limit)

print(f"the pythagorean triplets upto {limit} : {triplets}")

enter the limit for pythagorean triplets : 20
the pythagorean triplets upto 20 : [(6, 8, 10), (3, 4, 5), (8, 15, 17), (9, 12, 15), (5, 12, 13)]

In [ ]:
def combo(list1,list2):

  combinations = [(item1 ,item2) for item1 in list1 for item2 in list2]

  return combinations

list1 = [1,2,3]
list2 = ["a","b","c"]

all_combo = combo(list1,list2)

print("all combinations : ")

for combination in all_combo :
  print(combination ,end=" ")

all combinations :
(1, 'a') (1, 'b') (1, 'c') (2, 'a') (2, 'b') (2, 'c') (3, 'a') (3, 'b') (3, 'c')

In [ ]:
from statistics import mean , mode , median

def mmm(number):
  mean_value = mean(number)

  mode_value = mode(number)

  median_value = median(number)

  return mean_value , mode_value , median_value

numbers = [7,6,4,1,2,3,9,8,7,5,3,2,1]

mean_result , mode_result , median_result = mmm(numbers)

print("Mean : ",mean_result)
print("Mode : ",mode_result)
print("Median : ",median_result)

Mean :  4.461538461538462
Mode :  7
Median :  4

In [ ]:
def pascal_tri(num_rows):
  triangle = [ [1] * (i+1) for i in range(num_rows)]

  for i in range(num_rows):

    for j in range(1,i):

      triangle[i][j] = triangle[i-1][j-1] + triangle[i -1][j]

  return triangle

num_rows = int(input("enter the number of rows for the pascal triangle : "))

p_tri = pascal_tri(num_rows)

for row in p_tri :
  print(" ".join(map(str,row)))

enter the number of rows for the pascal triangle : 5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
from math import factorial

def fact_sum(start ,end):

  sum_of_digits = [sum(int(digit) for digit in str(factorial(i))) for i in range(start ,end + 1)]

  return sum_of_digits

start = int(input(" enter the starting range : "))
end = int(input(" enter the ending range : "))

result = fact_sum(start,end)

for i ,value in enumerate( result , start = start):
  print(f"sum of digit of {i}! is : {result} ")

 enter the starting range : 12
 enter the ending range : 34
sum of digit of 12! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 13! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 14! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 15! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 16! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 17! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 18! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 19! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 20! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 21! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 22! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 23! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 24! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 25! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 26! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 27! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 28! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 29! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 30! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 31! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 32! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 33! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]
sum of digit of 34! is : [27, 27, 45, 45, 63, 63, 54, 45, 54, 63, 72, 99, 81, 72, 81, 108, 90, 126, 117, 135, 108, 144, 144]

In [ ]:
def longest_w(sentence):

    words = [word.strip(".,!?") for word in sentence.split()]

    longest_word = max(words, key=len)

    return longest_word

sentence = input("Enter a sentence : ")
result = longest_w(sentence)

print(f"The longest word in the sentence is : {result}")

Enter a sentence :  let's learn data science together
The longest word in the sentence is : together

In [ ]:
def count_vowels(word):

    return sum(1 for char in word.lower() if char in 'aeiouAEIOU')

def filter_vowels(strings, min_vowels=3):

    filtered_strings = [word for word in strings if count_vowels(word) > min_vowels]

    return filtered_strings

string1 = ["hello", "world", "python", "programming", "ai", "openai"]

result = filter_vowels(string1)

print(f"Strings with more than three vowels: {result}")

Strings with more than three vowels: ['openai']

In [ ]:
def sum_of_digits(number):

    return sum(int(digit) for digit in str(number))

list1 = [sum_of_digits(num) for num in range(1, 1001)]

total_sum = sum(list1)

print(f"The total sum of digits for numbers from 1 to 1000 is: {total_sum}")

The total sum of digits for numbers from 1 to 1000 is: 13501

In [1]:
def is_prime(num):

    if num < 2:

        return False

    for i in range(2, int(num**0.5) + 1):

        if num % i == 0:

            return False

    return True

def is_palindrome(num):

    return str(num) == str(num)[::-1]

prime_palindromic = [num for num in range(1, 1000) if is_prime(num) and is_palindrome(num)]

print(" palindromic prime numbers up to 1000:", prime_palindromic)

 palindromic prime numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]